@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

body {
  /* background: rgb(0, 177, 143);
  background: linear-gradient(
    90deg,
    rgba(0, 177, 143, 1) 0%,
    rgba(32, 181, 209, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background: rgb(82, 101, 97);
  background: linear-gradient(
    90deg,
    rgba(82, 101, 97, 1) 0%,
    rgba(69, 74, 78, 1) 50%,
    rgba(0, 25, 31, 1) 100%
  );
  display: flex;

  flex-direction: column;
}

h2 {
  color: white;
  font-size: 24pt;
  margin: 1rem;
}

hr {
  width: 100%;
  color: black;
}

#textos {
  color: aliceblue;
}

#container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

#inputs {
  display: flex;
  flex-direction: column;
}

#calc {
  display: flex;
  flex-direction: column;
}

#btn {
  margin: 0rem;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 14pt;
}

p {
  font-size: 30pt;
}

#btn:hover {
  cursor: pointer;
  background-color: green;
  box-shadow: 1px 1px 31px 3px black;
}

#moneda {
  color: #7fff00;
  margin-bottom: 2rem;
}

#cantidad {
  color: chartreuse;
  margin-bottom: 2rem;
}

#totalm {
  color: chartreuse;
  margin-bottom: 2rem;
}

#text-total {
  color: white;
}

.calc {
  background-color: blanchedalmond;
}

label {
  font-size: 24pt;
}

input {
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 20pt;
  padding-right: 1rem;
  text-align: right;
  background-color: white;
  width: 150px;
  height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
